{% extends 'base.html' %}

{% block title %}
    Dynamic Chart
{% endblock %}

{% block page_css %}
    <link href="/static/vendor/css/Chart.css" rel="stylesheet"
          crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <canvas id="bar-dynamic"></canvas>
        </div>
        <div class="col-6">
            <canvas id="pie-dynamic"></canvas>
        </div>
        <div class="col-6">
            <canvas id="line-dynamic"></canvas>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script src="/static/vendor/js/Chart.bundle.js"></script>

    <script src="/static/js/utilities.js"></script>
    <script src="/static/js/bar-dynamic.js"></script>
    <script src="/static/js/pie-dynamic.js"></script>
    <script src="/static/js/line-dynamic.js"></script>
{% endblock %}